.h2-container{
    display: flex;
    justify-content: center;
    align-items: center;

    .top-h2{
        padding-top: 70px;
    }

    h2{
        color:rgb(214, 214, 214);
        font-family: 'Aclonica';
        font-size: 35px;
        -webkit-text-stroke: 1.3px black;
        
        
    }
}

