@import '../base/extends';

.h2-container{
    @extend %flexbox;

    .top-h2{
        padding-top: 70px;

        @media (max-width: 991px) {
            padding-top: 310px;
        }
    }

    h2{
        color:rgb(214, 214, 214);
        font-family: 'Aclonica';
        font-size: 35px;
        -webkit-text-stroke: 1.3px black;
        padding: 20px 0px;
    }
}

