.main-page{
    padding-bottom: 420px;
    @extend %flexbox;

    img{
        max-width: 800px;
        
    }
    
    div{
        position:absolute; 
        max-width: 700px;
    }
    
    .imagen-delante:hover{
        opacity: 0.15;
        transition: all 1s ease;
    }
    .texto-detras{
        z-index: -1;
        padding: 0px 10px;
        text-align: center;
        color:white;
        font-size: 39px;
        -webkit-text-stroke: 1px black;
        @media (max-width: 700px) {
            font-size: 34px;
        }
        
    }
}